#html#html#html#html{
    background-color: deeppink;
}


li{
    background-color: green;
color: blue; 
}
body{
    background-color:rgb(114, 54, 54);
}


li{
    background-color: aqua;
}
li{
    background-color: aquamarine;
    color: blueviolet;
}
.html{
    background-color:red;
}

li{
    background-color: green;
color: blue;
}


li{
    background-color: rgb(36, 32, 172);
}
li{
    background-color: aquamarine;
    color: blueviolet;
}
.html{
    background-color:red; background-color: deeppink;
}
li{
    background-color: green;
color: blue;
}


li{
    background-color: aqua;
}
li{
    background-color: aquamarine;
    color: blueviolet;
}
.html.ht{

    background-color:red;
}